@use "/src/styles/_colors";

$navbar-width: 4.5rem;
$navbar-padding-left: 0.75rem;

.navBar {
    position: absolute;
    left: 0px;
    width: 4.5rem;
    height: calc(100vh - 0.5rem);
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    overflow-x: hidden;
}

.gap {
    height: 0.75rem;
}