@use "/src/styles/_colors";
@use "./navigation-bar/NavigationBar.module.scss";

.body {
    margin: 0px;
    background-color: colors.$primary_background;
    color: colors.$white
}

.home {
    position: fixed;
    left: calc(NavigationBar.$navbar-width + NavigationBar.$navbar-padding-left + 0.5rem);

    width: 100vw;
    height: 100vh;
    margin: 0em;
    padding: 0em;
}