@use "/src/styles/_colors";

.body {
    margin: 0px;
    background-color: colors.$primary_background;
    color: colors.$white
}

.home {
    position: fixed;
    left: calc(4.25rem + 0.1rem + 0.75rem);

    width: 100vw;
    height: 100vh;
    margin: 0em;
    padding: 0em;
}