@use "/src/styles/_colors";

.hoverContainer {
    display: flex;
    height: fit-content;
    align-items: center;
}

@mixin hoverText {
    border-radius: 8px;
    background-color: colors.$tertiary-background;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 1.25rem;
}

.hoverTextLeft {
    @include hoverText();
    position: absolute;
    right: 100%
}


.hoverTextRight {
    @include hoverText();
    position: absolute;
    left: 100%;
}