@use "/src/styles/_colors";

.hoverContainer {
    display: flex;
    height: fit-content;
    align-items: center;
}

.hoverText {
    position: fixed;
    border-radius: 8px;
    background-color: colors.$fifth-background;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 1.25rem;
}