$primary-brand: #DC8F65;
$white: #faf9f6;

$primary-background: #151515;
$secondary-background: #252525;
$tertiary-background: #505050;
$quaternary-background: #A0A0A0;

$hover-button: #454545;
$scroll-bar-track: #808080;