@use "/src/styles/_colors";

@mixin outline {
    background-color: colors.$secondary-background;
    border: colors.$white solid 0.15rem;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}

@mixin bottomShadow {
    box-shadow: 0rem 0.3rem colors.$tertiary-background, 0rem 0.4rem colors.$quaternary-background;
}

@mixin bottomLeftShadow {
    box-shadow: -0.2rem 0.2rem colors.$tertiary-background, -0.3rem 0.3rem colors.$quaternary-background;
}