@use "/src/styles/_colors";

@mixin outline {
    background-color: colors.$secondary-background;
    border: colors.$white solid 0.15rem;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}