@use "/src/styles/_colors";
@use "./navigation-bar/NavigationBar.module.scss";

$home-horizontal-offset: calc(NavigationBar.$navbar-width + NavigationBar.$navbar-padding-left + 0.5rem);
$home-width: calc(100vw - $home-horizontal-offset);

.body {
    margin: 0px;
    background-color: colors.$primary_background;
    color: colors.$white
}

.home {
    position: fixed;
    left: $home-horizontal-offset;

    width: $home-width;
    height: 100vh;
    margin: 0rem;
    padding: 0rem;
}