@use "/src/styles/_colors";
@use "./top-bar/TopBar.module.scss";

$home-horizontal-offset: TopBar.$horizontal-offset;
$home-width: TopBar.$bar-width;
$home-vertical-offset: TopBar.$bar-height + TopBar.$bar-padding-top + 0.5rem;
$home-height: calc(100vh - $home-vertical-offset);

.home {
    position: fixed;
    top: $home-vertical-offset;
    left: $home-horizontal-offset;
    width: $home-width;
    height: $home-height;
    margin: 0rem;
    padding: 0rem;
}