@use "/src/styles/_colors";

.logoContainer {
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    justify-content: center;

    .logo {
        color: colors.$primary-brand;
        width: 2rem;
        height: 2rem;
        margin: auto;
    }
}