@use "/src/styles/_colors";

.logoContainer {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;

    .logo {
        color: colors.$primary-brand;
        width: 2.5rem;
        height: 2.5rem;
        margin: auto;
    }
}