@use "/src/styles/_colors";

.gap {
    height: 0.25rem;
}

.optionContainer {
    padding: 0.15rem;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.mainActionButton {
    margin: 0.1rem 0.1rem;
    padding: 0.1rem 0rem;
    width: 1.25rem;
    height: 1.25rem;
}